# Ham or Spam?

In [1]:
# when installing nltk for the first time we need to also download a few built in libraries
#!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Administrateur\AppData\Roaming\nltk_data...
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
import pandas as pd

df = pd.read_csv("emails.csv")
### Loop the data lines

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

👇 Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [3]:
df["text"] = df['text'].str.replace('[^\w\s]','')
df

C:\Users\Administrateur\AppData\Local\Temp\ipykernel_8940\338134561.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df['text'].str.replace('[^\w\s]','')

                                                   text  spam
0     Subject naturally irresistible your corporate ...     1
1     Subject the stock trading gunslinger  fanny is...     1
2     Subject unbelievable new homes made easy  im w...     1
3     Subject 4 color printing special  request addi...     1
4     Subject do not have money  get software cds fr...     1
...                                                 ...   ...
5723  Subject re  research and development charges t...     0
5724  Subject re  receipts from visit  jim   thanks ...     0
5725  Subject re  enron case study update  wow  all ...     0
5726  Subject re  interest  david   please  call shi...     0
5727  Subject news  aurora 5  2 update  aurora versi...     0

[5728 rows x 2 columns]

## Lower Case

👇 Create a function to lower case the text. Apply it to `clean_text`

In [4]:
df['text'] = df['text'].str.lower()

## Remove Numbers

👇 Create a function to remove numbers from the text. Apply it to `clean_text`

In [5]:
df['text'] = df['text'].str.replace('\d+', '')
df

C:\Users\Administrateur\AppData\Local\Temp\ipykernel_8940\2719577156.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('\d+', '')

                                                   text  spam
0     subject naturally irresistible your corporate ...     1
1     subject the stock trading gunslinger  fanny is...     1
2     subject unbelievable new homes made easy  im w...     1
3     subject  color printing special  request addit...     1
4     subject do not have money  get software cds fr...     1
...                                                 ...   ...
5723  subject re  research and development charges t...     0
5724  subject re  receipts from visit  jim   thanks ...     0
5725  subject re  enron case study update  wow  all ...     0
5726  subject re  interest  david   please  call shi...     0
5727  subject news  aurora    update  aurora version...     0

[5728 rows x 2 columns]

## Remove StopWords

👇 Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [6]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
df

                                                   text  spam
0     subject naturally irresistible corporate ident...     1
1     subject stock trading gunslinger fanny merrill...     1
2     subject unbelievable new homes made easy im wa...     1
3     subject color printing special request additio...     1
4     subject money get software cds software compat...     1
...                                                 ...   ...
5723  subject research development charges gpg forwa...     0
5724  subject receipts visit jim thanks invitation v...     0
5725  subject enron case study update wow day super ...     0
5726  subject interest david please call shirley cre...     0
5727  subject news aurora update aurora version fast...     0

[5728 rows x 2 columns]

## Lemmatize

👇 Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [7]:
from nltk.stem.wordnet import WordNetLemmatizer
#nltk.download('omw-1.4')

lmtzr = WordNetLemmatizer()
df['text'] = df['text'].apply(lambda lst:[lmtzr.lemmatize(word) for word in lst])
df['text'] = df['text'].apply(lambda x : "".join(x))
print(df)

                                                   text  spam
0     subject naturally irresistible corporate ident...     1
1     subject stock trading gunslinger fanny merrill...     1
2     subject unbelievable new homes made easy im wa...     1
3     subject color printing special request additio...     1
4     subject money get software cds software compat...     1
...                                                 ...   ...
5723  subject research development charges gpg forwa...     0
5724  subject receipts visit jim thanks invitation v...     0
5725  subject enron case study update wow day super ...     0
5726  subject interest david please call shirley cre...     0
5727  subject news aurora update aurora version fast...     0

[5728 rows x 2 columns]

## Bag-of-words Modelling

👇 Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
X_bow = count_vect.fit_transform(df['text'])
print(X_bow)

  (0, 28686)	1
  (0, 19720)	1
  (0, 15196)	1
  (0, 6424)	1
  (0, 14051)	1
  (0, 17492)	1
  (0, 24334)	1
  (0, 13029)	1
  (0, 24458)	1
  (0, 5655)	3
  (0, 18006)	2
  (0, 11786)	1
  (0, 28950)	1
  (0, 14593)	1
  (0, 15241)	1
  (0, 12445)	2
  (0, 4413)	1
  (0, 17304)	3
  (0, 28667)	1
  (0, 28316)	1
  (0, 21189)	1
  (0, 32370)	2
  (0, 17783)	2
  (0, 29385)	1
  (0, 19392)	2
  :	:
  (5727, 12569)	1
  (5727, 19162)	1
  (5727, 4280)	1
  (5727, 21169)	2
  (5727, 17976)	1
  (5727, 2090)	9
  (5727, 27282)	1
  (5727, 9696)	1
  (5727, 9485)	1
  (5727, 13743)	1
  (5727, 10488)	1
  (5727, 16625)	1
  (5727, 28175)	1
  (5727, 9486)	1
  (5727, 16819)	1
  (5727, 31634)	1
  (5727, 4988)	1
  (5727, 26430)	1
  (5727, 9880)	5
  (5727, 32530)	1
  (5727, 26635)	1
  (5727, 13945)	1
  (5727, 30271)	1
  (5727, 6732)	1
  (5727, 7745)	1

👇 Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
cv_scores = cross_val_score(mnb,X=X_bow.toarray(), y=df["spam"], cv=5)
mean_cv = cv_scores.mean()
print('CV scores: {}'.format(cv_scores))
print('Mean Cross validated accuracy: {}'.format(round(mean_cv, 5)))


# Dans cet exemple, cv est un argument de la fonction cross_val_score et il spécifie le nombre de plis 
# pour la validation croisée k-fold. La valeur cv de 5 signifie que les données seront divisées en 5 plis, 
# et une validation croisée k-fold sera effectuée, où chaque pli sera utilisé une fois comme données de 
# validation et les autres plis comme données d'entraînement.

# La fonction cross_val_score renvoie un tableau de scores, où chaque score est le résultat de l'évaluation 
# d'un modèle en utilisant la métrique de précision moyenne. Ce score est stocké dans cv_scores.

CV scores: [0.9886562  0.9895288  0.9921466  0.99039301 0.99213974]
Mean Cross validated accuracy: 0.99057

⚠️ Please push the exercise once you are done 🙃

## 🏁